<?xml version='1.0' encoding='utf-8'?>
<widget id="com.yababoon.ridiculousness" version="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Ridiculousness Daily</name>
    <description>
        ridiculousness daily
    </description>
    <author email="info@yababoon.com">
        yababoon
    </author>
    <feature name="http://api.phonegap.com/1.0/device" />
	<feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>

<plugins>
<gap:plugin name="org.apache.cordova.device" />
<gap:plugin name="org.apache.cordova.inappbrowser" />
<gap:plugin name="org.apache.cordova.device-motion" />	
<plugin name="NetworkStatus" value="CDVConnection" />
<gap:plugin name="org.apache.cordova.network-information" version="0.2.7" />
<gap:plugin name="NetworkStatus" value="org.apache.cordova.core.NetworkManager" />
</plugins>

<feature name="Device">
        <param name="ios-package" value="CDVDevice" />
    </feature>
<feature name="NetworkStatus">
    <param name="ios-package" value="CDVConnection" />
</feature>
<feature name="InAppBrowser">
    <param name="ios-package" value="CDVInAppBrowser" />
</feature>



    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="true" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="disable-cursor" value="false" />

    <icon src="icon.png" gap:role="default" />
	
    <icon gap:platform="ios" height="40" src="res/screen/ios/icon-40.png" width="40" /> 
    <icon gap:platform="ios" height="80" src="res/screen/ios/icon-40-2x.png" width="80" /> 
    <icon gap:platform="ios" height="29" src="res/screen/ios/icon-29.png" width="29" />
	<icon gap:platform="ios" height="58" src="res/screen/ios/icon-29-2x.png" width="58" />
    <icon gap:platform="ios" height="76" src="res/screen/ios/icon-76.png" width="76" /> 
    <icon gap:platform="ios" height="152" src="res/screen/ios/icon-76-2x.png" width="152" />
    <icon gap:platform="ios" height="60" src="res/screen/ios/icon-60.png" width="60" />
    <icon gap:platform="ios" height="120" src="res/screen/ios/icon-60-2x.png" width="120" /> 	 
		 		  		  
    <icon gap:platform="ios" height="57" src="res/screen/ios/icon-57.png" width="57" />
    <icon gap:platform="ios" height="72" src="res/screen/ios/icon-72.png" width="72" />
    <icon gap:platform="ios" height="114" src="res/screen/ios/icon-57-2x.png" width="114" />
    <icon gap:platform="ios" height="144" src="res/screen/ios/icon-72-2x.png" width="144" />
	
    <gap:splash gap:platform="ios" height="1136" src="res/screen/ios/screen-iphone-portrait-568h-2x.png" width="640" />	
    <gap:splash gap:platform="ios" height="2048" src="res/screen/ios/screen-ipad-portrait-2x.png" width="1536" />
    <gap:splash gap:platform="ios" height="1536" src="res/screen/ios/screen-ipad-landscape-2x.png" width="2048" />		
    <gap:splash gap:platform="ios" height="480" src="res/screen/ios/screen-iphone-portrait.png" width="320" />
    <gap:splash gap:platform="ios" height="960" src="res/screen/ios/screen-iphone-portrait-2x.png" width="640" />
    <gap:splash gap:platform="ios" height="640" src="res/screen/ios/screen-iphone-landscape-2x.png" width="960" />
	<gap:splash gap:platform="ios" height="320" src="res/screen/ios/screen-iphone-landscape.png" width="480" />	
    <gap:splash gap:platform="ios" height="1024" src="res/screen/ios/screen-ipad-portrait.png" width="768" />
    <gap:splash gap:platform="ios" height="768" src="res/screen/ios/screen-ipad-landscape.png" width="1024" />
   
    <plugin name="InAppBrowser" value="org.apache.cordova.InAppBrowser" />
<access origin="*" browserOnly="true"/>
	<content src="index.html" />
	<preference name="Fullscreen" value="true" />
	<preference name="EnableViewportScale" value="true" />
    <preference name="WebViewBounce" value="true" />

</widget>
